*{
    margin: 0;
    padding: 0;
}
.cedvel{
   text-align: right;
   margin-right: 80px;
   margin-top: 50px;

}
fieldset{
    width: fit-content;
    margin-left: 950px;
    padding: 20px;
    border-color: lightgray;
    margin-top: -600px;
}
.sekil{
    margin-left: 90px;
    margin-top: 300px;
}
.yazi{
    color: #102b55;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -100px;
    }
