*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    background-color: #9BBB2a;
    width: 50%;
    margin: 0 auto;
}
p{
    display: inline-block;
    margin-right:40px;
}
.cards{
    display: block;
    background-color: rgba(239,247,255,0.6);
    padding:15px;
    width:80%;
    border-radius: 12px;
}
form{
   display: flex; 
   flex-direction: column;
   align-items: center;
   gap:5px;
   margin: 20px;
}
input{
    padding:10px;
    width:360px;
    border-radius: 12px;
}
.textarea{
    display: flex;
    align-items: flex-start;
    background-color: rgba(239,247,255,0.6);
    border-radius: 12px;
    padding: 15px;
    width: 80%;
}
.cards1{
    background-color: rgba(239,247,255,0.6);
    width: 80%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
img{
    width: 30px;
    height: 20px;
}
.radio{
    padding:0;
    width:10px;
    border-radius: 0;
}
.button{
    margin: 0 auto;
    
    text-align: center;

}
.button button{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    color: white;
}